* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #505050;
  height: 200px;
}

/* Outer Grid container */
.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "nav" "login";
  height: 50%;
  font-size: 2vh;
  grid-row-gap: 5rem;
}

/* Applying grid layout to the diffrent sections in the grid layout  */

.navbar {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 2.5rem;
  justify-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

/* Applying grid layout to the login section */

.login {
  grid-area: login;
  justify-self: center;
  display: grid;
  min-width: 50%;
  max-width: 60%;
  height: 50vh;
}

.login .sections {
  display: grid;
  justify-items: center;
  min-width: 100%;
  max-width: 60%;
}
.login h1{
  margin-top: 2rem;
  margin-bottom: auto;
}

/* css for nav bar */

.navbar a {
  text-decoration: underline;
  font-weight: bold;
  align-self: center;
  color: #505050;
}

/* CSS for the p elements inside nav bar */
.navbar p {
  align-self: center;
}

/*  CSS for the input on the search bar*/
input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: none;
  background-color: grey;
  color: black;
  width: 100%;
  height: 50px;
}

input[type="email"],
input[type="password"] {
  padding: 6px;
  font-size: 17px;
  border: none;
  background-color: grey;
  color: black;
  width: 100%;
  height: 50px;
}

/* CSS for the placeholders inside inputs */
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

label {
  justify-self: center;
}

.write input[type="submit"] {
  min-width: 20vh;
  min-height: 7vh;
  justify-self: center;
  border-radius: 30px;
  background-color: grey;
}

/* Css on the divs inside the sections */

.sections {
  background-color: #d3d3d3;
  border-radius: 30px;
  overflow: auto;
  overflow-wrap: break-word;
}



/* css for drop down menu */

.dropbtn {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: grey;
}

/*CSS for the button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
  margin-right: auto;
}

/* CSS for the button */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* CSS for the buton */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* CSS for the button*/

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* CSS for the button */

input:checked + .slider {
  background-color: black;
}

/*  CSS for the button*/
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

/* CSS for the button */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Layout for the website if dark mode button is clicked */

.dark,
.dark .navbar a {
  background: #202020;
}

.dark .sections,
.dark a,
.dark .dropbtn {
  background-color: #303030;
  color: #f5f5f5;
}

.dark .navbar {
  color: #f5f5f5;
}

.dark .grid-container {
  color: #f5f5f5;
}
