<!DOCTYPE html>
<!--Setting lang for the page-->
<html lang="en">
   <head>
      <!--       character set-->
      <meta charset="utf-8" />
      <!--       title for page-->
      <title>Log in</title>
      <meta name="description" content="My Website" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--       linking stylesheet-->
      <link rel="stylesheet" href="/login.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="/dark.js"></script>
   </head>
   <body>
      <!--    Grid container   -->
      <div class="grid-container">
         <!--   Sections    -->
         <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <div class="search-container">
               <form action="/search" method="GET">
                  <input type="text" id="game" placeholder="Search..." name="game" required />
               </form>
            </div>
            <p>Dark mode</p>
            <label class="switch">
            <input type="checkbox" checked />
            <span id="ColourChanger" class="slider round"></span>
            </label>
            <div class="dropdown">
               <button class="dropbtn">Menu</button>
               <div class="dropdown-content">
                  <a href="/register">Sign up</a>
                  <a href="/add">Add game </a>
               </div>
            </div>
         </div>
         <div class="login">
            <div class="sections">
               <h1>Log in:</h1>
               <form method="Get" action="/"> 
                  <label for="email">Email:</label>
                  <input id="email" type="email" name="email" placeholder="Email" value="" required /> <br>
                  <br>
                  <label for="password">Password:</label>
                  <input id="password" type="password" name="password" placeholder="Password" value="" required /> <br>
                  <br>
                  <input type="submit" value="OK" />
               </form>
            </div>
         </div>
      </div>
   </body>
</html>
